:root {
	--font-mono: Consolas, Monaco, 'Andale Mono', monospace;
	--font-default: Montserrat, Arial, sans-serif;

	/* Colors */
	--color-background: #FFF;
	--color-text: rgb(102,102,102);
	--color-link: #ccc;
	--color-accent: rgb(246, 94, 168);
}

body{
	background-color: var(--color-background);
	font: 300 100%/1.5 var(--font-default);
	color: var(--color-text);
}

figure{
	padding: 0;
	margin: 0;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
}
img{
	padding: 0;
	margin: 0;
}

/* Text */
h1{
	text-transform: uppercase;
	position: relative;
	font-size: 85px;
	text-align: center;
}
	h1:before,
	h1:after{
		content:"";
		width: 80%;
		position: absolute;
		height: 5px;
		background: var(--color-accent);
		left: 50%;
		transform: translateX(-50%);
	}
	h1:before{
		top: -20px;
	}
	h1:after{
		bottom: -20px;
	}

h2{
	color: var(--color-text);
	font-size: 70px;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

h3{
	font-size: 28px;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

p{
	font-size: 23px;
}

a{
	color: var(--color-link);
}

code,
textarea,
pre {
	margin: 0;
	font: 23px var(--font-mono);
	tab-size: 4;
	color: var(--color-accent);
}

pre>code {
	font-size: inherit;
}

code mark {
	--color: hsla(190, 20%, 50%, .5);
	background: var(--color);
	box-shadow: 0 -.05em 0 .1em var(--color);
	color: inherit;
	border-radius: 1px;
	text-shadow: .01em .05em .2em rgba(0, 0, 0, .6);
	transition: .6s;
}

pre+pre {
	margin-top: 1.5em;
}


/* Slides */
.slide {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.slide.figure-left{
	flex-direction: row;
}
	.slide.figure-left figure{
		flex: 1;
		margin-right: 30px;
		height: 100%;
	}
	.slide.figure-left figure img{
		height: 100%;
	}
	.slide.figure-left .content{
		flex: 2;
	}

.slide.figure-header {
	justify-content: flex-start;
}
	.slide.figure-header .header-figure {
		width: 100%;
		height: 195px;
		overflow: hidden;
	}
	.slide.figure-header .header-figure img {
		width: 100%;
	}
	.slide.figure-header .content-wrapper{
		display: flex;
		padding: 40px;
	}
	.slide.figure-header .content-wrapper .title{
		flex: 1;
	}
	.slide.figure-header .content-wrapper .content {
		flex: 2;
	}



/* Special components */
.work-places{
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
}
	.work-places li{
		flex: 1 0 33%;
		text-align: center;
	}

.image-trio{
	width: 100%;
	list-style: none;
	display: flex;
	justify-content: space-around;
}
	.image-trio li{
		text-align: center;
	}
	.image-trio figure{
		height: 120px;
	}